#login input[type="text"],
#login input[type="password"],
#login button[type="submit"] {
  font: 12px "Roboto", Helvetica, Arial, sans-serif;
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  padding: 10px;
}

div{
  background: #F9F9F9;
  padding-bottom: 1em;
  padding-left: 1em; 
  width: fit-content;
}

fieldset {
  border: medium none !important;

}

h2{
  padding: 1em;
}