
<h3>How to recycle!</h3> <br>

<p>
  Before you get started recycling your electronics, there are a few questions that you must ask yourself. Does your
  device still work? If not, would it be repairable? Would you like to earn an extra buck from your used device?
  If so, recycling your device will be worth your time!
</p>

<ol>
  <li>
     If your device is still working, you can simply write some details about your device like the make, model, and
      the condition that it is currently in and you can sell it directly on this website!
  </li>
  <li>
     If your device is broken or slightly damaged but still repairable there is still hope! If you want to get rid
    of it there are plenty of people on this site who are willing to purchase your device for parts! Also, if you would
    like to fix it, there are tutorials and parts available for many makes and models which can extend the lifetime of
    your current device.
  </li>
  <li>
    Lastly, if your device is beyond repair that is okay too! We can guide you to the nearest recycling center
    where you can safely dispose of your electronic device.
  </li>
</ol>

<br>
<a routerLink="/search"> Get Started! </a>


<div class="container">
   <form id = "contact" action="" method="post">
   <h3>Contact Us</h3>
    <fieldset>
     <input placeholder="name" type="text" name="name" required/> <br>
    </fieldset>
    <fieldset>
      <input type="email" name="email" required placeholder="name@domain.com"/> <br>
    </fieldset>
    <fieldset>
      <input type="tel" placeholder="Phone Number (optional)" name="phone"/> <br>
    </fieldset>
     <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
  <input  type="submit" name="submit"/>
  </form>
</div>

