<html>
<body>


<!-- Search form -->
<!-- *************this is the formatted search bar don't delete
<div class="active-green mb-4">
  <form action="search.php" method="post">
     <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    <input type="submit" name="submit" value="Search">
  </form>
</div>
-->


<form action="search.php" method="post">
  <input type="text" placeholder="name" name="name">
  <input type="submit" name="Submit" value="Submit">
</form>



<div class="results">
  <p>the results from the database go here</p>
</div>

<div class="map">
  <p>Map showing the nearby recycling centers</p>
</div>




 <br> <br> <br>
  <div class="contact">
    <a routerLink="/started"> Contact Us</a>
  </div>

</body>

</html>
