<body>

  <div class="pictures">
    <h1>Pictures and stats</h1>
  </div>

  <div class="about">
    <h1>About E waste</h1>
    <p>We are a generation obsessed with technology. Everywhere we look, technology is impacting our lives and
      assisting us with our daily routines. We have reached a point where more than 5 billion people now have a
      mobile phone with a connection. In North America and many parts of the world the average user purchases a
      new cell phone every 2 years and completely disregard their still functioning device. Worse still is when people
      throw away their used electronic devices without properly knowing where they should be throwing them. There are
      approximately 350,000 mobile phones being disposed of each day and very few of them are being recycled properly.
      Cellphones and other electronic devices that we use every day are made of precious metals which come from the
      Earth and are in fact finite. For every one million cell phones that are recycled, the EPA states that 35,274
      pounds of copper, 772 pounds of silver, 75 pounds of gold and 33 pounds of palladium can be recovered.</p>

    <p>Electronic waste is a problem that needs to be taken care of as the number of users of electronic devices grows
    exponentially every day. Not only can we recycle our old electronics, we can also repair them and keep them in use.
    Most of these electronics are actually still functioning or minimally damaged which can be easily repaired if given
    the right tools. </p>
  </div>

  <div class="data">
    <h1>Data</h1>
  </div>


  <div class="grid-container">
    <div class="grid-item-1">
      <img src="assets/ewaste-evolution.png" width = 500px height = 250px>
    </div>
    <div class="grid-item-1">
      <p>This graph shows that E-waste totals are increasing at an alarming rate. Not only are the world totals going
        up but ao are the totals per inhabitant which means that people are using more and more electronics and
        disposing of them just as quickly.
      </p>
    </div>
    <div class="grid-item-2">
      <p>This graph proves two points about people when it comes to their electronic devices. Since only 20% of e-waste
        is shown to be collected and recycled properly, there is a lot of room for improvement. This can easily be
        achieved because in general, there is a lack of knowledge about what you should be doing with your used
        electronics. Giving people options about where they can safely dispose of their electronics, or better yet
        pass them on to someone who might need them, will greatly reduce this ratio of e-waste being disposed of.
      </p>
    </div>
    <div class="grid-item-2">
      <img src="assets/recycled-ewaste.PNG" width = 500px height = 250px>
    </div>

    <div class="grid-item-1">
      <img src="assets/legislation.png" width = 500px height = 250px>
    </div>
    <div class="grid-item-1">
      <p>
        This graph shows that there are improvements being made towards pushing for a greener environment. Efforts are
        being made and laws are being passed that are telling people how they should be disposing of their electronic
        devices. Even though legislations are being put in place, it will still take some time before they are properly
        enforced so any means to help prevent e-waste would be extremely beneficial for the environment.
      </p>
    </div>
    <div class="grid-item-2">
      <p>
        This graph shows that Asia is the largest producer of e-waste in the world with a total of 18.2MT. Out of the
        18.2MT of e-waste being generated in Asia, only 15% of it is being collected and recycled properly. This is
        very similar in the other continents and there is much room for improvement if people are given the means to
        do so.
      </p>
    </div>
    <div class="grid-item-2">
      <img src="assets/waste-asia.PNG" width = 500px height = 250px>
    </div>
    <!--<div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
    -->
  </div>


  <br> <br> <br>
  <div class="contact">
    <a routerLink="/started"> Contact Us</a>
  </div>


</body>



