<body>

<!--

<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/images.jpeg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/image2.jpg" alt="Second slide">
  </mdb-carousel-item>
</mdb-carousel>


  <img src="assets/images.jpeg">

           -->

  <div class="pictures">
    <h1>Pictures and stats</h1>
  </div>

  <div class="about">
    <h1>About E waste</h1>
    <p>We are a generation obsessed with technology. Everywhere we look, technology is impacting our lives and
      assisting us with our daily routines. We have reached a point where more than 5 billion people now have a
      mobile phone with a connection. In North America and many parts of the world the average user purchases a
      new cell phone every 2 years and completely disregard their still functioning device. Worse still is when people
      throw away their used electronic devices without properly knowing where they should be throwing them. There are
      approximately 350,000 mobile phones being disposed of each day and very few of them are being recycled properly.
      Cellphones and other electronic devices that we use every day are made of precious metals which come from the
      Earth and are in fact finite. For every one million cell phones that are recycled, the EPA states that 35,274
      pounds of copper, 772 pounds of silver, 75 pounds of gold and 33 pounds of palladium can be recovered.</p>

    <p>Electronic waste is a problem that needs to be taken care of as the number of users of electronic devices grows
    exponentially every day. Not only can we recycle our old electronics, we can also repair them and keep them in use.
    Most of these electronics are actually still functioning or minimally damaged which can be easily repaired if given
    the right tools. </p>
  </div>

  <div class="data">
    <h1>Data</h1>
  </div>


  <div class="grid-container">
    <div class="grid-item-1">
      <img src="assets/ewaste-evolution.png" width = 500px height = 250px>
    </div>
    <div class="grid-item-1">
      <p>Text describing the graph</p>
    </div>
    <div class="grid-item-2">
      <p>Text describing the graph</p>
    </div>
    <div class="grid-item-2">
      <img src="assets/recycled-ewaste.PNG" width = 500px height = 250px>
    </div>

    <div class="grid-item-1">
      <img src="assets/legislation.png" width = 500px height = 250px>
    </div>
    <div class="grid-item-1">
      <p>Text describing the graph</p>
    </div>
    <div class="grid-item-2">
      <p>Text describing the graph</p>
    </div>
    <div class="grid-item-2">
      <img src="assets/waste-asia.PNG" width = 500px height = 250px>
    </div>
    <!--<div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
    -->
  </div>


  <br> <br> <br>
  <div class="contact">
    <a routerLink="/started"> Contact Us</a>
  </div>


</body>



